    <%= render "layouts/banner" %>
<h1 class="text-center">Cocktails</h1>

    <% if !notice.nil? %>
      <div class="alert alert-info alert-dismissable" id="notice">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <span><%= notice %></span>
      </div>
    <% end %>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <!-- insert <div class="card"> -->

       <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
      url(<%= image_path(cocktail.image_url)  %>);">
<!--         <div class="card-category"> <%= cocktail.name %> </div> -->
        <div class="card-description">
          <h2 > <%= cocktail.name %> </h2>

      </div>
        <%= link_to cocktail.name, cocktail_path(cocktail) , class: "card-link" %>
      </div>

    </div>
    <% end %>
  </div>
</div>







