
<div class="col-xs-12 col-md-4">

  <h3> New Ingredient for <%= @cocktail.name %></h3>

  <%= simple_form_for [@cocktail, @dose] do |form| %>
    <%= form.input :description %>
    <%= form.input :ingredient_id, collection: Ingredient.all, prompt: "Choose one ingredient" %>
    <%= form.submit class: "btn btn-primary" %>
  <% end %>




  <%= link_to "back to cocktails", cocktails_path %>
</div>



